{% extends 'base.html.twig' %}

{% block title %}Outils pratiques pour DevBen5{% endblock %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Outils pratiques</h1>
                {% if app.user and app.user.email == "rayn.stenger@gmail.com" %}
                    <p class="text-body-secondary">Bonjour DevBen5</p>
                {% elseif app.user and app.user.email %}
        			<p class="text-body-secondary">Bonjour {{ app.user.email }}</p>
                {% else %}
                    <p class="text-body-secondary">Mais que fais-tu ici ?</p>
    			{% endif %}
                <p>
                    <a href="#" class="btn btn-primary my-2">Lien rapide vers ?</a>
                    <a href="#" class="btn btn-secondary my-2">Lien rapide vers ? 2</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {# Outil N°1 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/listingTaskWeb.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°1 : Process Global Web-Dev</title>
                            <p class="card-text">Cet outil permets de voir des tutos pas à pas pour créer des sites web en fonction des technos utilisées</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Listing de tâches</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°2 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/websites.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°2 : Sites intéressants</title>
                            <p class="card-text">Cet outil permets de voir des sites intéressant en fonction des thèmes</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Sites Internet</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°3 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/escapeGamesList.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°3 : Suivit des escape games</title>
                            <p class="card-text">Cet outil permets de voir les escapes games déjà fait et d'avoir un petit résumé de l'escape et du ressenti</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Listing Escapes Games</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°4 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" width="100%" class="object-fit-cover" src="{{ asset('../assets/img/podcastFeedback.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°4 : Suivi des impressions de podcast</title>
                            <p class="card-text">Cet outil permets de voir les avis sur les épisodes d'un podcast (en premier créer pour le podcast "Transfert")</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Listing de tâches</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°5 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/projetPedaSabreLaser.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°5 : Projet Pédagogique d'une association de sabre laser</title>
                            <p class="card-text">Cet outil permets de voir des aides sur les cours de sabre laser au sein d'une association de type pluridisciplinaire</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Projet Sportif</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°6 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/3DPrinting.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°6 : Impressions 3D</title>
                            <p class="card-text">Cet outil permets de voir des tutos pas à pas pour créer des objets en impression 3D</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Impression 3D</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°7 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" object-fit-cover src="{{ asset('../assets/img/arduino.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°7 : Projets Arduino</title>
                            <p class="card-text">Cet outil permets de voir des tutos pas à pas pour créer des projet basés sur le arduino</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Automatisation</small>
                            </div>
                        </div>
                    </div>
                </div>
                {# Outil N°8 #}
                <div class="col">
                    <div class="card shadow-sm">
                        <img aria-label="List To-Do Img" height="250" class="object-fit-cover" width="100%" src="{{ asset('../assets/img/leather.png') }}"/>
                        <div class="card-body">
                        <title x="50%" y="50%" fill="#eceeef" dy=".3em">Outil N°8 : Projets Cuirs</title>
                            <p class="card-text">Cet outil permets de voir des tutos pas à pas pour créer des objets ou vetements en cuir</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Editer</button>
                                </div>
                                <small class="text-body-secondary">Créations</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
